<!--首页处介绍卡片-->
<div id="card">
    <div id="card-div" v-if="!foldCard">
        <div class="avatar">
            <img src="<%- url_for(theme.avatar) %>" alt="avatar">
        </div>
        <div class="name">
            <%- config.author %>
        </div>
        <div class="description">
            <%- markdown(theme.card.description) %>
        </div>

        <% if (theme.card.iconLinks) { %>
            <div class="icon-links">
                <% Object.entries(theme.card.iconLinks).forEach(([key, value]) => { %>
                    <span class="icon-link">
                        <a href="<%- value.link %>">
                            <i class="fa-<%- value.theme %> fa-<%- value.name %>"></i>
                        </a>
                    </span>
                <% }); %>
            </div>
        <% } %>
    </div>

    <div id="card-bottom">
        <button id="card-toggle-btn" @click="foldCard=!foldCard; console.log(foldCard);">
            <div class="folded" v-if="!foldCard">
                <a>收起 &ensp;&ensp;&ensp;&ensp;</a>
                <i class="fa-solid fa-minus"></i>
            </div>
            <div class="folded" v-if="foldCard">
                <a>展开 &ensp;&ensp;&ensp;&ensp;</a>
                <i class="fa-solid fa-plus"></i>
            </div>
        </button>
    </div>
</div>