<% 
    if (is_home()) type = 'index';
%>

<!DOCTYPE html> 
<html lang="<%- config.language %>">
    <head>
        <meta charset="UTF-8">
        <title> <%- config.title %></title>
        <meta name="author" content="<%- config.author %>" />
        <%- partial("import") %>
    </head>

    <body>
        <div id="layout">
            <%- partial("menu") %>
            <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>asas -->
            <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>asas -->
            
            <main>
                <%- body %>
            </main>

            <footer>
                
            </footer>

        </div>
    </body>
    <script src="<%- url_for('/js/main.js') %>"></script>
</html>